@font-face {
  font-family: 'MaisonNeue-Medium';
  src: url('../fonts/MaisonNeue-Medium.eot?#iefix') format('embedded-opentype'),  
  url('../fonts/MaisonNeue-Medium.woff') format('woff'), 
  url('../fonts/MaisonNeue-Medium.ttf')  format('truetype'), 
  url('../fonts/MaisonNeue-Medium.svg#MaisonNeue-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'MaisonNeue-Mono';
  src: url('../fonts/MaisonNeue-Mono.eot?#iefix') format('embedded-opentype'),  
  url('../fonts/MaisonNeue-Mono.woff') format('woff'), 
  url('../fonts/MaisonNeue-Mono.ttf')  format('truetype'), 
  url('../fonts/MaisonNeue-Mono.svg#MaisonNeue-Mono') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Miller-Display';
  src: url('../fonts/Miller-Display.eot?#iefix') format('embedded-opentype'),  
  url('../fonts/Miller-Display.otf')  format('opentype'),
       url('../fonts/Miller-Display.woff') format('woff'), 
       url('../fonts/Miller-Display.ttf')  format('truetype'), 
       url('../fonts/Miller-Display.svg#Miller-Display') format('svg');
  font-weight: normal;
  font-style: normal;
}
