/* block */
.#{$block-selector} {
    margin-bottom: $block-module-margin-bottom;
    position: relative;
    padding: $block-module-padding;
    background: transparent;
    .#{$block-heading-selector}{
        font-size: 18px;
        font-weight: 400;
        margin:0 0 30px;
        padding: 0;
        text-transform: capitalize;
        position: relative;
        font-family: $font-family-base;
    }
}
.title-md{
    font-size: 36px !important;
    font-weight: 700 !important;
}
.wpb_video_widget .video-description{
    padding: 10px;
}
// Sidebar
.sidebar,
.#{$app-prefix}-sidebar {
    .widget{
        margin: 0 0 40px;
        padding:0 0 40px;
        border-bottom:1px solid #b2b2b2;
        overflow:hidden;
        &:last-child{
            border:none;
            padding:0;
        }
        .widgettitle,
        .widget-title{
            font-size: 24px;
            margin: 0 0 20px;
            font-weight: 400;
            font-family: $font-family-base;
            position: relative;
        }
        &.widget_search{
            border:none;
            margin: 0;
        }
    }
    // widet porducts list
    .apus-products-list{
        border-style: solid;
        border-color: $border-color;
        border-width:0 1px 1px;
        .product-block{
            padding: 20px;
            margin: 0;
        }
    }
    // widget instagram
    .row.instagram-pics{
        margin-left: -6px;
        margin-right: -6px;
        > [class*="col-md"]{
            padding-left: 6px;
            padding-right: 6px;
            margin-bottom: 12px;
        }
    }
    .widget_categories{
        li{
            line-height: 32px;
            font-size: 18px;
            font-size:14px;
            font-family: $font-family-second;
            color: #9f9f9f;
            a{
                font-family: $font-family-base;
                color: #4c4c4c;
                font-size:18px;
                vertical-align: text-top;
                &:hover,&:active{
                    color: #000;
                }
            }
        }
    }
}
// top bar
#apus-topbar{
    // widget info
    .info-topbar{
        .textwidget{
            > span{
                @include rtl-padding-right(10px);
                @include rtl-margin-right(10px);
                @include rtl-float-left();
                @include rtl-border-right(1px solid $border-color);
                &:last-child{
                    border: 0;
                }
            }
        }
        .fa{
            @include rtl-margin-right(8px);
        }
    }
}
// header
.apus-search-form{
    .select-category{
        display: inline-block;
        @include rtl-float-left();
        overflow:hidden;
        position: relative;
        min-width: 240px;
        &:before{
            content: "\f107";
            font-family: 'FontAwesome';
            position: absolute;
            @include rtl-right(30px);
            top:50%;
            @include translateY(-50%);
            font-size: 18px;
        }
        .dropdown_product_cat{
            border: 1px solid $border-color;
            width: 115%;
            height: $input-height-base;
            padding: 10px 20px;
        }
    }
}
// footer
.apus-footer{
    .#{$block-heading-selector}{
        color: $footer-heding-title-color;
        font-size: 20px;
        font-weight: 400;
        margin: 0 0 15px;
    }
    // widget slogan
    .slogan{
        margin: 0;
        color: $theme-color;
        font-weight: 700;
        font-size: 24px;
    }
    .horizontal{
        margin: 0;
        .widget{
            margin-bottom: 0;
        }
        .menu{
            text-align:center;
            li{
                display: inline-block;
                font-size: 12px;
                text-transform: uppercase;
                a{
                    padding:0 10px;
                }
            }
        }
    }
    .widget-social {
        margin: 0;
    }
    // menu
    .widget_nav_menu{
        .widgettitle{
            font-size:18px;
            margin:0 0 5px;
        }
    }
    ul.menu{
        font-size:18px;
    }
}
// copyright
.apus-copyright{
    .wpb_content_element,
    .widget{
        margin: 0 !important;
    }    
}